*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-weight: lighter;
    font-size: 14px;
    box-sizing: border-box;
}
div.menu-toggle {
    width: auto;
    height: auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 1%;
    z-index: 100;
    transition: 0.6s;

}
header img.logo {
    display: none;
    transition: 0.6s;
    margin: 0;
}
header.sticky img{
    display: block;
    position: absolute;
    bottom: 0px;
    
    height: 100%;
    
    
    z-index: 10000;
}
header.sticky {
    background: rgb(255, 255, 255);
    
    margin: 0;
}
header nav {
    float: right;
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;

}
header nav ul li {
    list-style: none;
    
}
header nav ul li a {
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    margin: 5px 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px gray;
    display: block;
    transition: .5s;
}
header nav ul li a i {
    height: 18px;
}
header nav ul li a:hover,
header nav ul li a.active
 {
    
    background: rgb(255, 255, 255);
}
.menu-toggle {
    margin:1%;
    padding: 10px;
    border: 1px solid gray;
    color: black;
    float: right;
    
    cursor: pointer;
    display: none;
    width: 100%;
    transition: .5s;
    
}
.menu-toggle:hover{
    background: rgba(199, 199, 199, 0.548);
}
@media (max-width: 1300px) {
    header {
        padding: 5px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        
        position: absolute;
        margin: 0 auto;
        width: 100%;
        background: rgba(245, 245, 245, 0.801);
        top:60px;
        left: -100%;
        opacity: 1;
        transition: .5s;

    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li {
        width: 60%;
        margin:25px auto;
    }
    header nav ul li a:hover {
        background: rgba(199, 199, 199, 0.548);

    }
}
footer {
    display: grid;
    width: auto;
    padding:5% 5%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit ,minmax(280px ,1fr));
   
    
}
footer img {
    max-width: 300px;
    min-width: 200px;
}
footer section {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin-top:10% ;
}
.data {
    border-left: solid 1px #007e7e;
    border-right: solid 1px #007e7e;

}
footer div a{
    text-decoration: none;
    color: black;
}
footer div {
    text-align: center;
    line-height: 150%;
}
footer h4{
    font-weight: bold;
    padding-bottom: 2%;
    
}
h1 {
    text-align: center;
    margin: 3% auto;
    width: auto;
    height: auto;
    line-height: 50px;
    letter-spacing: 10px;
    font-size: 4vw;
    text-decoration: transparent;
    text-transform: uppercase;
}
h1 hr  {
    margin: 2% auto;
    border: 0;
    height: 1px;
    width: 60%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #007e7e, rgba(0, 0, 0, 0));
}
h3 {
    
    text-align:center;
    margin: auto 0 ;
    
    line-height: 50px;
    color: #007e7e;
    font-size: 2em;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-decoration: transparent;
    
    
}
h3::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    margin: 0 auto;
    background:#007e7e;
    
    transition: width .5s;
    

}

main:hover h3::after  {
    width: 50%;
    margin: 0 auto;
    transition: width 1.5s;
    font-weight: bold;
}

.main{
    width: 100%;
    
    list-style: none;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main li{
    width: 50%;
    
    padding: 0 2%;
}
.section {
    width: 100%;
    min-width: 340px;
    margin: auto;
}
.description{
    text-align: center;
    align-content: center;
}
.description-1 {

    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.description-1 li p{
    margin-top: 3%;
    

    
    
}
.description-1 li{
    width: 50%;
    
}
.description i {
    color: rgba(17, 17, 17, 0.657);
    font-size: 3em;
    text-decoration: transparent;
    transition: transform 0.5s;
    box-sizing: border-box;
    
}
.description li:nth-child(1):hover .fa-envelope-open-text,.description li:nth-child(2):hover .fa-phone{
    transform: rotate(360deg);
    color: #007e7e;
}
.box{
    text-align:center;
    margin: auto 0;
    color: #007e7e;
    font-size: 1em;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: transparent;
    margin-bottom: 3%;
    
}
.description img {
    background-position: top;
    overflow: hidden;
    border-radius: 500px;
    width: 60%;
    transition: 0.4s;
    min-width: 320px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.41);
}
.description img:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
} 
form {
    color: black;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    
    height: auto;
    
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.41);
box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.41);
}
form a {
    width: 100%;
    font-size: 16px;
    letter-spacing: 2px;
    
}
textarea{
    height: 100px;
    overflow: auto;
    resize: none;
    max-height: 150px;
}
input,textarea{
    width: 100%;
    border-radius: 3.5px;
    margin: 20px;
    background-color: rgba(161, 161, 161, 0.239);
    padding: 5px;
    margin-left: 0;
    transition: 0.4s;
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
}
::-webkit-input-placeholder {
   margin: 2px;
   transition: 0.4s;
}
input:hover,textarea:hover{
    background-color: rgba(161, 161, 161, 0.075);
}
button{
    border-radius: 3.5px;
    margin: auto;
    width: 50%;
    background-color: rgba(161, 161, 161, 0.239);

    padding: 3.5%;
    text-transform: uppercase;
    letter-spacing: 10px;
    cursor: pointer;
    transition: 0.4s;
    

}
button:hover{
    background:#007e7e;
    

}
